<h1>Task Manager</h1>
<p>This is an app to help with managing tasks.</p>

<a href = "/tasks/index">Tasks 1 </a><br/>
<%= link_to('tasks ', {controller: 'tasks', action: 'index', page: 1})%><br/>

<%= link_to('about', action: 'about' ,page: 5, id: 20)%><br/>


