<%= link_to('homepage', {controller: 'main', action: 'index'}) %>

<h1>Tasks</h1>
<% if @page == 1 %>
    <h2>Task List</h2>
<% end %>

<ul>
<% @tasks.each do |task| %>
    <li><%= task %></lis>
<% end %>
</ul>
